@font-face {
    font-family: 'CROOKED';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/CROOKED/CROOKED.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CROOKED/CROOKED.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CROOKED/CROOKED.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/CROOKED/CROOKED.ttf') format('truetype');
}
